@import '@fortawesome/fontawesome-free/css/fontawesome'
@import '@fortawesome/fontawesome-free/css/solid'
@import '@fortawesome/fontawesome-free/css/regular'
@import 'leaflet/dist/leaflet.css'
@import 'leaflet-extra-markers/dist/css/leaflet.extra-markers.min.css'

i.fa-solid
  font-size 32px

#mymap
  width 800px
  height 800px
